@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-background-light text-body font-body;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-heading text-heading;
  }

  h1 {
    @apply font-bold;
  }

  h2, h3 {
    @apply font-semibold;
  }
}

@layer components {
  .container {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }
}
@keyframes shimmer {
  0% {
    background-position: -200% center;
  }
  100% {
    background-position: 200% center;
  }
}

.animate-shimmer {
  animation: shimmer 4s linear infinite;
}
